.sidebar {
	display: none;
}

.sidebar.open {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #2020206f;
}

.background {
}

.navContainer {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-top: 45px;
	background: #ffffff;
	width: 317px;
	height: 100%;
}

.nav {
	color: rgb(0, 0, 0);
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: 26.82px;
	text-decoration: none;
	padding: 40px;
}

.nav:hover {
	color: rgba(88, 172, 255, 1);
	text-decoration: underline;
}

.nav_active {
	color: rgba(0, 89, 178, 1);
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: 26.82px;
	text-decoration: none;
	padding: 40px;
}
.close {
	left: 247px;
	top: 10px;
	position: absolute;
	background: #ffffff;
	border: none;
}

.close img {
}
